  @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.main-padding{
    padding: 80px 0;
}

.container-size{
    max-width: 1200px;
}

.margin-center{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.small-btn{
    border: none;
    padding: 10px 13px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.big-btn{
    border: none;
    padding: 15px 19px;
    border-radius: 30px;
    font-size: 23px;
    cursor: pointer;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.blue-white{
    color: white;
    background-color: #8ea1e1;
}

header{
    background-image:url(../img/jumbo.png);
    background-size: cover;
}

header nav{
    padding: 20px 0;
}

header nav ul{
    list-style: none;
    padding: 10px;
    font-size: 1.3rem;
}

header nav .logo{
    width: 20%;
    cursor: pointer;
}

header nav .nav-bar{
    display: flex;
    width: 60%;
    justify-content: center;
}

header nav .nav-bar li a{
    padding: 0 1.3rem;
    color: white;
    text-decoration: none;
}

header nav .login{
    width: 20%;
    text-align: right;
}

header .jumbotron{
    padding: 130px 0;
}

header .jumbotron .hero{
    max-width: 800px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

header .jumbotron .hero .title{
    font-size: 4rem;
    margin-bottom: 40px;
}

header .jumbotron .hero .subtitle{
    line-height: 34px;
    margin-bottom: 20px; 
}

header .jumbotron .hero button{
    margin: 0 15px;
}

main .news .img-box{
    width: 60%;
}

main .news aside{
    width: 40%;
    font-size: 1.3rem;
    padding: 30px 0;
}

main .title{
    font-size: 3.9rem;
    margin-bottom: 30px;
}

main .subtitle{
    font-size: 1.3rem;
    line-height: 30px;
}

main .bg-grey{
    background-color: #d3d3d3;
}

main .news:nth-child(2) .img-box{
    order: 1;
    text-align: right;
}

main .poster .poster-box{
    text-align: center;
    padding: 70px 0
}

main .poster .poster-box h3{
    font-size: 2.2rem;
    background-image: url(../img/stars.svg);
    background-size: 60%;
    background-position: bottom;
    margin-bottom: 30px;
}

footer{
    background-color: #23272a;
}

footer .footer-menu{
    border-bottom: 1px solid #728adc;;
    padding: 70px 0 30px 0;
}

footer .footer-menu aside{
    width: 30%;
}

footer .footer-menu aside .title{
    font-size: 2.5rem;
    color: #728adc;
    padding-bottom: 35px;
}

footer .footer-menu aside .language-menu{
    color: white;
    font-size: 1rem;
    display: inline;
}

footer .footer-menu aside > img:first-of-type{
    height: 1rem;
    vertical-align: middle;
}

footer .footer-menu aside > img:last-of-type{
    width: 0.4rem;
    transform: rotate(90deg);
}

footer .footer-menu aside .icon-box img{
    height: 20px;
    margin: 20px 20px 0 0;
}

footer .footer-menu ul{
    width: calc(70% / 4);
    list-style: none;
    font-size: 1.3rem;
    color: white;
}


footer .footer-menu ul li{
    line-height: 2rem;
}

footer .footer-menu ul li:first-child{
    color: #728adc;
}

footer .footer-nav{
    padding: 50px 0 80px 0;
}

footer .footer-nav nav{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
